
*.vvp
*.vcd
*.vdb
*.log
*.jou
*.pb
*.wdb
xsim.dir/
webtalk*/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db


tests/assembly/*.hex
tests/assembly/*.bin
tests/assembly/*.dis.asm
examples/powers-of-two/*.bin
examples/powers-of-two/*.bin.txt
examples/simple-display/*.bin
examples/simple-display/*.bin.txt
